
.zen-tokyo-zoo-regular {
    font-family: "Zen Tokyo Zoo", system-ui;
    font-weight: 400;
    font-style: normal;
  }




* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0px auto;
    padding-bottom: 40px;
    background-image:  radial-gradient(lightseagreen 1px, transparent 0.5px), radial-gradient(salmon 1px, blanchedalmond 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}

h1, h2, h3, h4, h5, h6, p, a, li, input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: solid black;
    text-decoration: none;
}

header {
    background-color: rgb(37, 21, 11);
    border-bottom: 6px double salmon;
    margin: 0px auto;
    padding: 6px 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

header h1 {
    font-size: 4em;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    color:blanchedalmond;
    text-shadow:3px 3px rgba(250, 128, 114, 0.5), -3px -3px rgba(32, 178, 171, 0.5);
}

header a {
    color:blanchedalmond;
}

header a:hover {
    text-shadow:2px 1px salmon, -2px -1px lightseagreen;
}

nav {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 4px;
}

nav li {
    display: inline-block;
    margin-left: 40px;
}

footer {
    width: 100%;
    background-color: rgb(37, 21, 11);
    margin: 0px auto;
    padding: 10px 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 6px double salmon;
}

footer img {
    margin-left: 20px;
    height: 2em;
}

a {
    text-transform: uppercase;
    font-weight: bolder;
}

.credit {
    text-align: center;
    font-size: .75em;
    color: lightseagreen;
    text-align: center;
}

.credit a {
    font-size: 1em;
    font-weight: bold;
    color: salmon;
}


main {
    margin: 16px auto;
    border-top: 6px dotted lightseagreen;
    border-bottom: 6px dotted lightseagreen;
}

main img {
    width: 100%;
    display: block;
    margin: 0px;
}

.container {
    margin: 0px auto;
    padding: 20px 0px;
    text-align: center;
}

.card {
    background-color: rgb(37, 21, 11);
    width: 300px;
    text-align: center;
    margin: 10px 10px;
    padding: 32px 32px 16px 32px;
    display: inline-block;
}

.card:hover {
    box-shadow:5px 5px salmon, -5px -5px lightseagreen;
    text-shadow:3px 3px salmon, -3px -3px lightseagreen;
}

.card h2, .card a {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 20px;
    color: blanchedalmond;
}

.card img {
    width: 100%;
}

/*

.details {
    background-color: rgb(37, 21, 11);
    max-width: 1000px;
    margin: 0px auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
 }

 .details-text {
    flex: 1;
    width: 50%;
    color: blanchedalmond;
 }

 .details-text h2 {
    font-size: 4em;
    font-weight: bolder;
    margin-bottom: 8px;
 }

 .details-text p {
    font-size: 1.25 em;
    margin-bottom: 16px;
 }

 .details-image {
    flex: 1;
    width: 45%;
    margin-right: 40px;
 }

*/

.details {
    background-color: rgb(37, 21, 11);
    max-width: 1000px;
    margin: 0px auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
 }

 .details-text {
    flex: 1;
    background-color: blanchedalmond;
    color: rgb(37, 21, 11);
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .details-text h2 {
    font-size: 60px;
    text-shadow: 3px 3px rgba(250, 128, 114, 0.5), -3px -3px rgba(32, 178, 171, 0.5);
    text-align: right;
 }

 .details-text p {
    font-size: 22px;
 }


 .details-image {
    flex: 1;
 }

 form {
    width: 400px;
    margin: 20px auto;
 }

 input, textarea {
    font-size: 1.25em;
    display: block;
    width: 300px;
    margin: 10px auto;
    padding: 6px;
 }

 .form-button {
    text-align: center;
    background-color: darkslategrey;
    width: 300px;
    margin: 0px auto;
    padding: 6px;
 }

 .form-button a {
    color: lightgrey;
    font-size: 1.25em;
 }

 .newsletter {
    font-size: 3em;
    font-style: italic;
    text-align: center;
    margin: 20px 0px;
 }


 .thanks-image {
    background-image: url();
    background-color: lightgrey;
    height: 524px;
    max-width: 1160px;
    margin: 16px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }

 .thanks-text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40%;
    color: white;
    font-size: 4em;
    text-shadow: 0px 0px 18px darkgrey;
 }


 @media only screen and (max-width: 1000px) {
 }

 @media only screen and (max-width: 850px) {

    header {
        flex-direction: column;
    }

    header h1 {
        font-size: 3em;
    }

    .newsletter {
        margin: 20px 60px 0px 60px;
    }

    .details {
        flex-direction: column;
        align-items: center;
    }

    .details-text {
        order: 2;
    }

    .details-text h2 {
        text-align: center;
    }

    .details-text p {
        text-align: center;
    }

 }



